.title{
  text-align: center;
  font-size: 100px;
}

#pushButton{
  width: 400px;
  height: 100px;
  font-size: 40px;
}

#info{
  text-align: center;
}

.explanation{
  font-size:50px;
}

#grid{
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 250px 250px 250px;
}

@media(max-width: 800px) {
  #grid{
    margin: auto;
    display: grid;
    grid-template-columns: 200px 200px 200px;
  }
} /* 모바일 디바이스용*/

.menu{
  font-size: 50px;
  border: 1px solid;
  padding-top: 100px;
  padding-bottom: 200px;
}

.menuButton{
  height:100px;
  font-size: 50px;
}
