.title{
  margin-top: 250px;
  text-align: center;
  font-size: 60px;
  margin-top: 50px;
}

#info{
  text-align: center;
}

#grid{
  width:78%;
  margin: auto;
  display: grid;
  grid-template-columns: 600px 600px;
}

.menu{
  border: 1px solid;
  padding: 100px;
  padding-right: 60px;
  padding-left: 60px;
  font-size: 55px;
}

.push{
  font-size: 55px;
}
